<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/animate.css" rel="stylesheet" />
</head>
<table width="100%" cellspacing="0" cellpadding="10" border="1">
    <tr>
        <td colspan="2" valign="middle" height="70">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Courier Service System</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="@Url.Action("Dashboard", "Employee")"> DashBoard </a>&nbsp;</li>
                        <li><a href="@Url.Action("Employees", "Employee", new { id = "All"})">Employees</a>&nbsp;</li>
                        <li><a href="@Url.Action("Products", "Product")"> Products </a>&nbsp;</li>
                        <li><a href="@Url.Action("Index", "Office")"> Offices </a>&nbsp;</li>
                        <li><a href="@Url.Action("AllVehicle", "Vehicle")"> Vehicles </a>&nbsp;</li>
                        <li><a href="@Url.Action("Trips", "Trip")"> Trips </a>&nbsp;</li>
                        
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Inbox", "SendMailer")"><span class="glyphicon glyphicon-envelope"></span></span><span class="badge badge-notify" class="danger">@Session["Count"]</span> Mail</a></li>
                        <li><a href="@Url.Action("ViewProfile", "Employee", new { id = Session["Id"]})"><span class="glyphicon glyphicon-user"></span>&nbsp;@Session["uname"]</a></li>
                        <li><a href="@Url.Action("Logout", "Home")"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </div>
            </nav>
        </td>
    </tr>
    <tr>
        <td width="200" valign="top" style="background-color:#222222">
            <hr style="color:gray"/> <b style="color:gray">&nbsp;MENUS</b>
            <hr style="color:gray" /> <b style="color:gray">&nbsp;Trips</b><hr />
            <ul>
                <li><a href="@Url.Action("Trips","Trip")">Show All Trips</a></li>
            </ul>
            @*<ul>
                <li><a href="@Url.Action("OngoingTrips","Trip")">Ongoing Trips</a></li>
            </ul>*@
            <hr style="color:gray"/><b style="color:gray">&nbsp;Trip Assign</b><hr />
            <ul>
                <li><a href="@Url.Action("AssignNewTrip","Trip")">Assign New Trip</a></li>
            </ul>
            <hr />
        </td>
        <td valign="top">
            @RenderBody()

        </td>
    </tr>
    <tr>
        <td colspan="2" align="center">
            Copyright &copy; @DateTime.Now.Year
        </td>
    </tr>
</table>